p{
    font-family: 'Times New Roman', Times, serif; 
    font-size: medium;
    vertical-align: middle;
}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     font-weight: 900;
}